@import 'tailwindcss';

@theme {
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto Mono Variable', monospace;
  --inset-shadow-product: inset 0px 0px 40px 7px rgba(--tw-inset-shadow-color);
}

body {
  overflow: hidden;
}
